<footer class="layout-footer bg-light">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <ul class="layout-footer-follow-list">
                    <li class="list-item">
                        <span>联系作者</span>
                    </li>
                    <li class="list-item">
                        <a class="icon-link" href="#">
                            {{> "icons/github"}}
                        </a>
                    </li>
                    <li class="list-item">
                        <a class="icon-link" href="#">
                            {{> "icons/twitter"}}
                        </a>
                    </li>
                    <li class="list-item">
                        <a class="icon-link" href="#">
                            {{> "icons/facebook2"}}
                        </a>
                    </li>
                    <li class="list-item">
                        <a class="icon-link" href="#">
                            {{> "icons/google-plus"}}
                        </a>
                    </li>
                    <li class="list-item">
                        <a class="icon-link" href="#">
                            {{> "icons/sina-weibo"}}
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-12"><hr class="my-2"></div>
            <div class="col-12">
                <ul class="layout-footer-bottom-list">
                    <li class="list-item">
                        <span>Copyright &copy; <a class="footer-link" href="{{@blog.url}}">{{@blog.title}}</a></span>
                    </li>
                    <li class="list-item">
                        <span>由<a class="footer-link" href="https://github.com/imlooke/atlas-blog-theme">imlooke</a>确立主题</span>
                    </li>
                    <li class="list-item">
                        <span><a class="footer-link" href="#">新ICP备16000902号</a></span>
                    </li>
                    {{!-- <li>
                        <span><a class="footer-link" href="#">公安网备</a></span>
                    </li> --}}
                </ul>
            </div>
        </div>
    </div>
</footer>
