<footer class="layout-footer bg-light">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <ul class="layout-footer-follow-list">
                    <li class="list-item">
                        <span>联系作者</span>
                    </li>
                    {{!-- <li class="list-item">
                        <a class="icon-link" href="#" target="_blank">
                            {{> "icons/sina-weibo"}}
                        </a>
                    </li> --}}
                    <li class="list-item">
                        <a class="icon-link" href="https://github.com/imlooke/awesome-imlooke" target="_blank">
                            {{> "icons/github"}}
                        </a>
                    </li>
                    {{#if @blog.twitter}}
                        <li class="list-item">
                            <a class="icon-link" href="{{twitter_url @blog.twitter}}" target="_blank">
                                {{> "icons/twitter"}}
                            </a>
                        </li>
                    {{/if}}
                    {{#if @blog.facebook}}
                        <li class="list-item">
                            <a class="icon-link" href="{{facebook_url @blog.facebook}}" target="_blank">
                                {{> "icons/facebook2"}}
                            </a>
                        </li>
                    {{/if}}
                    {{!-- <li class="list-item">
                        <a class="icon-link" href="#" target="_blank">
                            {{> "icons/google-plus"}}
                        </a>
                    </li> --}}
                </ul>
            </div>
            <div class="col-12"><hr class="my-2"></div>
            <div class="col-12">
                <ul class="layout-footer-bottom-list">
                    <li class="list-item">
                        <span>Copyright &copy; <a class="footer-link" href="{{@blog.url}}">{{@blog.title}}</a></span>
                    </li>
                    <li class="list-item">
                        <span>由<a class="footer-link" href="https://github.com/imlooke/awesome-imlooke" target="_blank">imlooke</a>确立主题</span>
                    </li>
                    <li class="list-item">
                        <span><a class="footer-link" href="http://www.miibeian.gov.cn">备案号</a></span>
                    </li>
                    {{!-- <li>
                        <span><a class="footer-link" href="#">公安网备</a></span>
                    </li> --}}
                </ul>
            </div>
        </div>
    </div>
</footer>
