{{!-- next and previous --}}
<footer class="container pagination">
    <div class="row">
        {{!-- <div class="card-col {{post_class}}">
            <div class="card">
            </div>
        </div> --}}
        {{#next_post}}
            {{> "post-card"}}
        {{/next_post}}
        
        {{#prev_post}}
            {{> "post-card"}}
        {{/prev_post}}
    </div>
</footer>