<svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="48" height="48" viewBox="0 0 48 48">
<title>rss</title>
<path d="M6.389 35.2c-3.525 0-6.389 2.875-6.389 6.379 0 3.523 2.864 6.366 6.389 6.366 3.537 0 6.398-2.843 6.398-6.366-0-3.504-2.861-6.379-6.398-6.379zM0.007 16.309v9.2c5.99 0 11.623 2.342 15.865 6.587 4.237 4.234 6.576 9.892 6.576 15.905h9.24c-0-17.476-14.216-31.691-31.681-31.691zM0.018 0v9.204c21.365 0 38.754 17.406 38.754 38.796h9.228c0-26.46-21.528-48-47.982-48z"/>
</svg>