/* Post Card */
// ============
.card-col {
    flex: 1 1 300px;
    padding: 0 $spacer $spacer *2;

    @include media-breakpoint-down(sm) {
        padding: 0 $spacer $spacer;
    }
}

.card {
    display: flex;
    overflow: hidden;
    flex-direction: column;
    align-items: stretch;
    position: relative;
    border-radius: 5px;
    min-height: 348px;
    height: 100%;
    background: white center center;
    background-size: cover;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .14);
    transition: all .15s ease-in-out;

    &:hover {
        box-shadow: 4px 8px 16px 0 rgba(66, 66, 66, .06);
    }
}

.card-box {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

// image
.card-image-link {
    flex: 1;
    display: flex;
    position: relative;
    align-items: stretch;

    &:hover {
        color: inherit;
        text-decoration: none;
    }
}

.card-image {
    flex: 1;
    width: auto;
    max-height: 100%;
    min-height: 225px;
    background: $gray-200 no-repeat center center;
    background-size: cover;

    header {
        .card-tags {
            font-weight: normal;
            color: $gray-400;
        }

        .card-title {
            font-weight: normal;
            color: white;
        }
    }
}

.card-image-wrap {
    background: rgba(0,0,0,.24);
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    align-items: flex-end;
}

// header
.card-header {
    display: block;
    padding: $spacer * 1.5;
}

.card-tags {
    display: block;
    margin-bottom: 2px;
    color: $gray-500;
    font-weight: bold;
    font-size: $font-size-sm;
    letter-spacing: 0.5px;
    text-transform: uppercase;
}

.card-title {
    display: block;
    margin-top: 0;
    font-size: $font-size-lg;
    color: black;
    font-weight: bold;
    margin-bottom: 0;
}

// content
.card-content-link {
    position: relative;
    display: block;
    padding: 0;
    color: inherit;

    &:hover {
        color: inherit;
        text-decoration: none;
    }
}

.card-excerpt {
    padding: 0 $spacer * 1.5;
}

// auther
.card-meta {
    padding: $spacer * 1.5;
}

.card-author-image {
    margin-right: 2px;
    width: 24px;
    height: 24px;
    border-radius: 100%;
}

.card-author-name {
    font-size: $font-size-sm;
    font-weight: bold !important;
    letter-spacing: 0.5px;
    text-transform: uppercase;
}

.card-published-time {
    color: #9E9E9E;
    font-size: 12px;
    float: right;
}

// 用户、tag页面特殊置顶卡片
// .post-card-sp-tags,
// .post-card-sp-author-image {
//     display: none;
// }