//
// Roboto
// --------------------------------------------------

/* 使用Google字体Roboto
 * http://material-design.storage.googleapis.com/publish/material_v_4/material_ext_publish/0B0J8hsRkk91LRjU4U1NSeXdjd1U/RobotoTTF.zip */

@font-face {
    font-family: "Roboto";
    src: local(Roboto Thin), 
    url("../fonts/roboto/Roboto-Thin.woff2") format("woff2"), 
    url("../fonts/roboto/Roboto-Thin.woff") format("woff");
    font-weight: 100;
}

@font-face {
    font-family: "Roboto";
    src: local(Roboto Light), 
    url("../fonts/roboto/Roboto-Light.woff2") format("woff2"), 
    url("../fonts/roboto/Roboto-Light.woff") format("woff");
    font-weight: 300;
}

@font-face {
    font-family: "Roboto";
    src: local(Roboto Regular), 
    url("../fonts/roboto/Roboto-Regular.woff2") format("woff2"), 
    url("../fonts/roboto/Roboto-Regular.woff") format("woff");
    font-weight: 400;
}

@font-face {
    font-family: "Roboto";
    src: local(Roboto Medium), 
    url("../fonts/roboto/Roboto-Medium.woff2") format("woff2"), 
    url("../fonts/roboto/Roboto-Medium.woff") format("woff");
    font-weight: 500;
}

@font-face {
    font-family: "Roboto";
    src: local(Roboto Bold), 
    url("../fonts/roboto/Roboto-Bold.woff2") format("woff2"), 
    url("../fonts/roboto/Roboto-Bold.woff") format("woff");
    font-weight: 700;
}

html, body {
    font-family: 'Roboto';
}